body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.bg-green-500 {
  background-color: #008000;
}

.bg-white {
  background-color: #ffffff;
}

.rounded-tl-lg {
  border-top-left-radius: 0.5rem;
}

.rounded-tr-lg {
  border-top-right-radius: 0.5rem;
}

.rounded-bl-lg {
  border-bottom-left-radius: 0.5rem;
}

.rounded-br-lg {
  border-bottom-right-radius: 0.5rem;
}

.w-64 {
  width: 16rem;
}

.h-48 {
  height: 12rem;
}

.w-24 {
  width: 6rem;
}

.h-24 {
  height: 6rem;
}

.rounded-full {
  border-radius: 50%;
}